<mat-toolbar>
    <a mat-raised-button color="primary" [routerLink]="['/settings']"><mat-icon>arrow_back</mat-icon> Settings</a>
    <h2 id="itemSettingsHeader" text-center>Item Settings</h2>
    <span class="spacer"></span>
    <span>
        <a mat-raised-button color="primary" [routerLink]="['categories']">Categories</a>
        <a mat-raised-button color="primary" [routerLink]="['options']">Options</a>
        <a mat-raised-button color="primary" [routerLink]="['taxes']">Taxes</a>
        <a mat-raised-button color="primary" [routerLink]="['components']">Components</a>
        <a mat-raised-button color="primary" [routerLink]="['modifiers']">Modifiers</a>
        <a mat-raised-button color="primary" [routerLink]="['types']">Types</a>
        <a mat-raised-button color="primary" [routerLink]="['subtypes']">Subtypes</a>
    </span>
</mat-toolbar>
<br>





