<br>
<a mat-raised-button color="primary" [routerLink]="['/settings/item/subtypes']"><mat-icon>arrow_back</mat-icon>Subtypes</a>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h2>{{subtype.name}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{subtype.name}}</dd>
      <dt>Description:</dt>
      <dd>{{subtype.description}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/settings/item/subtypes/edit/', subtype._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteSubtype(subtype._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>